.blog {
  &__image {
    position: relative;
    transition: opacity 0.3s ease;
  }

  &__title {
    display: none;
    color: var(--dark-gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: calc(0.5rem + 0.7vw);
    width: 90%;

    @media screen and (max-width: 580px) {
      font-size: calc(1rem + 1vw);
    }
  }

  &__perex {
    color: var(--dark-gray);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(0.5rem + 0.3vw);

    @media screen and (max-width: 1023px) {
      font-size: calc(0.5rem + 0.5vw)
    }

    @media screen and (max-width: 580px) {
      font-size: calc(0.8rem + 0.2vw);
    }
  }

  &__article-preview {
    background: linear-gradient(180deg, rgba(246, 246, 244, 0.00) 0%, var(--off-white) 100%);
    font-size: calc(0.5rem + 0.2vw);

    @media screen and (max-width: 1023px) {
      font-size: calc(0.6rem + 0.1vw);
    }

    @media screen and (max-width: 768px) {
      font-size: calc(0.6rem + 0.6vw);
    }

    &__perex {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 6rem;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.35);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__title {
      display: inline-block;
      position: relative;
      z-index: 1;
      font-weight: bold;
      color: var(--dark-gray);

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        right: -20px;
        bottom: -10px;
        left: -20px;
        background: var(--off-white);
        filter: blur(12px);
        -webkit-filter: blur(12px);
        z-index: -1;
      }
    }

    &__clock-icon {
      margin-right: calc(0.2rem + 0.2vw);
      margin-top: calc(0.1rem + 0.1vw);
    }
  }

  &__article__list {
    list-style-position: inside;
    padding-left: 0;
  }

  &__column {
    @media (max-width: 580px) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

a:hover {
  .blog__title {
    display: block;
  }

  .blog__image {
    opacity: 0.5;
  }
}

.blog-section {
  &__title {
    font-size: calc(1rem + 0.6vw);
    font-weight: bold;

    @media screen and (max-width: 580px) {
      font-size: calc(0.9rem + 0.5vw);
    }
  }

  &__link {
    font-size: calc(0.5rem + 0.3vw);

    @media screen and (max-width: 1023px) {
      font-size: calc(0.7rem + 0.5vw);
    }
  }
}