.carousel {
  &__title {
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;

    @media screen and (max-width: 768px) {
      font-size: calc(0.75rem + 0.5vw);
    }
  }

  &__button-left,
  &__button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 1;
    border: none;

    .fa-icon {
      color: dimgray;
      opacity: 0.5;
      transition: opacity 0.3s ease;
    }

    &:hover .fa-icon {
      opacity: 1;
    }

    &:focus {
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
    }
  }

  &__button-right {
    right: 0;
  }

  &__image .image {
    position: relative;
  }
}

.column {
  .carousel__item {
    position: relative;

    &__title {
      font-size: calc(0.5rem + 0.5vw);
      font-weight: bold;
    }
  }
}