.cart__image {
  img {
    width: 105px;
    height: 126px;
    object-fit: cover;
  }
}

.cart {
  &__price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top: 0;
    max-height: 130px;
  }

  &__total-price {
    &__price-without-tax,
    &__price-with-tax,
    &__shipping-price {
      span {
        display: inline-block;
      }
    }
  }

  &__shipping-price {
    font-size: 0.8rem;
  }

  &__product-list-end-line {
    height: 1px;
    background-color: var(--dark-gray);
    width: 80%;
  }

  &__shipping-progress {
    height: 0.4em;
  }

  &__empty-container {
    height: 80vh;
    position: relative;

    &__basket-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__empty-text {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5em;
    }
  }

  &__voucher-input {
    border-color: var(--dark-gray);

    &:focus {
       outline: none;
       box-shadow: none;
       border-color: inherit;
     }

    &:hover {
      border-color: inherit;
    }
  }

  &__voucher-button {
    font-size: 13px;
  }

  &__checkout-step {
    position: relative;
    white-space: nowrap;

    &::after {
      content: "";
      position: relative;
      flex-grow: 1;
      height: 1px;
      background: var(--dark-gray);
      margin-right: 10px;
      margin-left: 10px;
      width: 50px;
    }

    &:last-child::after {
      display: none;
    }

    &__link {
      color: var(--dark-gray);
      text-decoration: none;
    }
  }
}