.filterButton {
  flex: 0 0 auto;
  background-color: var(--color-white);
  border: 1px solid var(--dark-gray);
  padding: 10px 15px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2px;
    gap: 5px;
  }

  &:hover {
    background-color: var(--off-white);
  }

  &__active {
      border: 2px solid var(--dark-gray);
      color: var(--dark-gray);
      font-weight: bolder;
  }
}