.columns.is-mobile > .column.is-2.insta__gallery {
  width: 20%;
}

.insta {
  &__caption,
  &__author {
    display: none;
    color: var(--dark-gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: calc(0.1rem + 0.5vw);
    width: 90%;

    @media screen and (max-width: 1023px) {
      font-size: calc(0.2rem + 0.5vw);
    }
  }

  &__author {
    top: 80%;
  }

  &__caption {
    height: auto;
    max-height: 80%;
    overflow: auto;
  }

  &__image {
    transition: opacity 0.3s ease;
  }

  &__section-title {
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;

    @media screen and (max-width: 768px) {
      font-size: calc(0.75rem + 0.5vw);
    }
  }
}

a:hover {
  .insta__caption,
  .insta__author {
    display: block;
  }

  .insta__image {
    opacity: 0.5;

    @media screen and (max-width: 768px) {
      opacity: 1;
    }
  }
}