.navbar-item {
  padding: 0 2rem;
  height: 2.5rem;
  display: flex;
  align-items: center;

  @media (min-width: 769px) and (max-width: 1024px) {
    justify-content: center;
  }

  @media (max-width: 768px) {
    justify-content: flex-start;
  }

  &.cart {
    background: var(--light-beige);
    position: relative;
  }
}

.bubble-icon {
  background-color: var(--dark-gray);
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
}