.navbar-item {
  padding: 0 2rem;
  height: 2.5rem;
  display: flex;
  align-items: center;

  @media (min-width: 769px) and (max-width: 1024px) {
    justify-content: center;
  }

  @media (max-width: 768px) {
    justify-content: flex-start;
  }

  &.cart {
    background: var(--light-beige);
  }
}