.reviews__section {
  background: linear-gradient(180deg, rgba(246, 246, 244, 0.00) 0%, #F6F6F4 100%);
}

.review {
  background: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .fa-icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }


    &__description {
      align-content: flex-start;
      font-size: calc(0.4rem + 0.4vw);

      @media (max-width: 1023px) {
          font-size: calc(0.6rem + 0.7vw);
      }
    }
  }

  &__image {
    margin-top: auto;
    width: calc(64px + 0.01vw);
    height: calc(64px + 0.01vw);
  }

  .box {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}