.reviews__section {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(180deg, rgba(246, 246, 244, 0.00) 0%, #F6F6F4 100%);
}

.review {
  background: inherit;

  &__description {
    height: auto;
  }
}