@import '~bulma/css/bulma.css';
@import "colors.scss";
@import "modules/navbar.scss";
@import "modules/carousel.scss";
@import "modules/insta-gallery.scss";
@import "modules/blog.scss";
@import "modules/review.scss";
@import "modules/product.scss";
@import "modules/filter.scss";
@import "modules/about.scss";
@import "modules/product-detail.scss";
@import "modules/breadcrumbs.scss";
@import "modules/cart.scss";
@import "modules/contact.scss";
@import "modules/order-summary.scss";
@import "modules/icon-columns.scss";
@import "modules/waterproof.scss";
@import "modules/shipping.scss";

body {
  overflow-x: hidden;
  color: var(--dark-gray);
  font-family: 'Arial', sans-serif;
  a {
    color: var(--off-white);
    text-decoration: none;
  }
}

.has-background-dark-gray {
  background-color: var(--dark-gray);
}

.has-background-light-beige {
  background-color: var(--light-beige);
}

.has-background-beige {
  background-color: var(--beige);
}

.has-background-off-white {
  background-color: var(--off-white);
}

.has-background-custom-white{
  background-color: var(--white);
}

.has-text-beige {
  color: var(--beige);
}

.has-one-quarter-width {
  width: 25% !important;
}

@media (min-width: 769px) {
  .column {
    order: 0;
  }

  .pl-3-desktop {
    padding-left: 1.5rem !important;
  }

  .shipping-notice__text {
    margin-left: -5rem;
  }
}

@media (max-width: 1024px) {
  .pt-3-mobile {
    padding-top: 1.5rem !important;
  }

  .pb-3-mobile {
    padding-bottom: 1.5rem !important;
  }

  .px-1-mobile {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }

  .p-0-mobile {
    padding: 0 !important;
  }

  .ml-1-mobile {
    margin-left: 0.5rem !important;
  }

  .mt-4-tablet {
    margin-top: 1.5rem !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .px-1-tablet {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
}

@media screen and (max-width: 768px) {
  .mt-6-mobile {
    margin-top: 3rem !important;
  }

  .mt-0-mobile {
    margin-top: 0 !important;
  }

  .mt-4-mobile {
    margin-top: 1.5rem !important;
  }

  .mb-0-mobile {
    margin-bottom: 0 !important;
  }

  .mr-0-mobile {
    margin-right: 0 !important;
  }

  .pb-2-mobile {
    padding-bottom: 1rem !important;
  }
}

.currency-select {
  background-color: black !important;
  color: white !important;
  border: none  !important;
}

ul {
  list-style-type: disc;
}

.show-more {
  .a {
    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    color: var(--dark-gray);
  }

  &__icon {
      font-size: calc(0.75rem + 0.5vw);
  }
}

.confirm-button {
  background-color: var(--dark-gray);
  color: var(--white);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: calc(0.5rem + 0.2vw);
  font-weight: bold;
  max-width: 230px;

  &:hover {
    background-color: var(--beige);
  }

  &__loading {
    background-color: var(--light-beige);
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: var(--light-beige);
  }

  &__cart {
    @media screen and (max-width: 768px) {
      font-size: calc(0.7rem + 0.2vw);
      margin-top: -0.2rem;
    }
  }
}

.popup-modal {
  @media screen and (max-width: 768px) {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1rem;
  }
}

.quantity-changer {
  display: flex;
  justify-content: flex-end;

  &__cart {
    max-width: 200px;

    @media screen and (max-width: 546px) {
      flex-direction: column;
      align-items: flex-end;
      max-width: 80px;

      .product__quantity-button,
      .product__quantity-value {
        min-width: 25px;
        width: 50%;
        margin: 0 !important;
      }
    }
  }

  &__product {
    margin-top: 0;
    margin-right: 5vw;

    .product__quantity-value,
    .product__quantity-button {
      min-height: 30px;
    }

    @media screen and (max-width: 768px) {
      .product__quantity-button {
        margin: 0.2vw !important;
      }
    }
  }
}
