@import '../../node_modules/bulma/bulma';

body {
  overflow-x: hidden;
}

.app__cart {
  background: #E9E0DD;
}

.icon__square {
  width: 64px;
  height: 64px;
  background-color: #E9E0DD;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex: none;

  .fa-icon {
    width: 24px;
    height: 24px;
  }
}

.carousel {
  &__button-left,
  &__button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 1;
    border: none;

    .fa-icon {
      color: gray;
      opacity: 0.3;
      transition: opacity 0.3s ease;
    }

    &:hover .fa-icon {
      opacity: 1;
    }

    &:focus {
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
    }
  }

  &__button-right {
    right: 0;
  }

  &__image .image {
    position: relative;
  }
}

.column {
  .carousel__item {
    position: relative;
  }
}

.columns.is-mobile > .column.is-2.insta__gallery {
  width: 20%;
}

.insta {
  &__caption,
  &__author {
    display: none;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.7vw;
    width: 90%;
  }

  &__author {
    top: 80%;
  }

  &__caption {
    height: auto;
    max-height: 80%;
    overflow: auto;
  }

  &__image {
    transition: opacity 0.3s ease;
  }
}

a:hover {
  .insta__caption,
  .insta__author,
  .blog__title {
    display: block;
  }

  .insta__image,
  .blog__image {
    opacity: 0.5;
  }
}

.reviews__section {
  background: linear-gradient(180deg, rgba(246, 246, 244, 0.00) 0%, #F6F6F4 100%);
}

.review {
  background: inherit;
}

.blog {
  &__image {
    position: relative;
    transition: opacity 0.3s ease;
  }

  &__title {
    display: none;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.7vw;
    width: 90%;
  }
}

.blog__perex {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 769px) {
  .top-product__title {
    margin-left: -0.75rem;
  }
}

@media (max-width: 600px) {
  .insta__caption, .insta__author {
    font-size: 2vw;
  }
}
