@import '../../node_modules/bulma/bulma';

.app__cart {
  background: #E9E0DD;
}

.icon__square {
  width: 64px;
  height: 64px;
  background-color: #E9E0DD;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex: none;

  .fa-icon {
    width: 24px;
    height: 24px;
  }
}

.carousel__button-left,
.carousel__button-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  z-index: 1;
  border: none;

  .fa-icon {
    color: gray;
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }

  &:hover .fa-icon {
    opacity: 1;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }
}

.carousel__button-right {
  right: 0;
}

.column .carousel__item {
  position: relative;
}

.carousel__image .image {
  position: relative;
}

.columns.is-mobile > .column.is-2.insta__gallery {
  width: 20%;
}

.insta__caption,
.insta__author {
  display: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.7vw;
  width: 90%;
}

.insta__author {
  top: 80%;
}

.insta__caption {
  height: auto;
  max-height: 80%;
  overflow: auto;
}

a:hover .insta__caption,
a:hover .insta__author {
  display: block;
}

.insta__image {
  transition: opacity 0.3s ease;
}

a:hover .insta__image {
  opacity: 0.5;
}

@media (min-width: 769px) {
  .top-product__title {
    margin-left: -0.75rem;
  }
}

@media (max-width: 600px) {
  .insta__caption, .insta__author {
    font-size: 2vw;
  }
}